{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Us {% endblock %}</title>
</head>
<body>
  {% block pagecontent %}
    
    <table >
      <tr>
        <th>datum/tijd</th>
        <th>plaat</th>
        <th>tijd over</th>
      </tr>
        
        {% for pl in log %}
        {% for i in plaat %}
        <tr>
         <td> {{ pl.tijd_in }} </td>
         
       
        <td>{{ i.nummerplaat }}</td>
        <td>{{ tijd_over }}</td>
        {% endfor %}
        {% endfor %}
       
        </tr>

        <p>
       
        
        </p>
      
    </table>
   
    {% include 'partials/nav-bar.html' %} <!--Add this-->
  {% endblock %}
</body>
</html>