{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Us {% endblock %}</title>
</head>
<body>
  {% block pagecontent %}
    
    <table >
      <tr>
        <th>datum/tijd</th>
        <th>plaat</th>
        <th>tijd over</th>
      </tr>
        
        <!-- {% for pl in log %}
      
        <tr>
         <td> {{ pl.tijd_in }} </td>
       
     
        {% for i in plaat %}
       
        <td>{{ i.nummerplaat }}</td>
        {% endfor %}
      
        {% for tijd in over %}
        <td>{{ tijd }}</td>
        
        {% endfor %}
        {% endfor %} -->

        {% for arr in BIG %}
        <tr>
          <td>
            {{ arr.nummerplaat}}
          </td>
          
        </tr>
        <tr>
          <td>
            {{ arr.tijd_in}}
          </td>
          
        </tr>
        <tr>
          <td>
            {{ arr.tijd_over}}
          </td>
          
        </tr>



        {% endfor %}

        
     
       
        </tr>

        <p>
       
        
        </p>
      
    </table>
   
    {% include 'partials/nav-bar.html' %} <!--Add this-->
    {% endblock %}
</body>
</html>