{% extends 'base.html' %}

{% load humanize %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block pagecontent %}
      <div class="table-div">
      <!-- We will display our data in a normal HTML table using Django's
      template for-loop to generate our table rows for us-->
      <table class="table">
        <thead>
          <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Adres</th>
            <th>Functie</th>
          </tr>
        </thead>
        <tbody>
          {% for mw in medewerkers %}
            <tr>
              <td>{{ mw.voornaam}}</td>
              <td>{{ mw.achternaam}}</td>
              <td>{{ mw.adres}}</td>
              <td>{{ mw.functie}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
     </div>
    {% include 'partials/nav-bar.html' %}
    {% endblock %}
  </body>
</html>