{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript">
    setInterval("my_function();",5000); 
    function my_function(){
      $('#refresh').load(location.href + ' #time');
    }
  </script>

  <title>{% block title %}Welcome Home {% endblock %}</title>
  
</head>

<body>
  {% block pagecontent %}
  {% include 'partials/nav-bar.html' %} 
  <h1>
    nummerplaat herkenning
  </h1>

  <table class="plaat">
    <tr>
  <td class="plaat">
  <p class="plaat">
    not found

  </p>
</td>
<td class="plaat">
  <img src="{% static photo %}"/>
</td>
</tr>
</table>


  
  
  {% endblock %} 
</body>
</html>