.container {
   
  margin: 10 10 10 10;
  
  padding: 25px 50px 75px 100px;
}


body
{
    background-color: bisque;
}

body, body * {
  font-family: Verdana, Tahoma, sans-serif !important;
  }




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  li a:hover {
    background-color: #111;
  }

  table {
    width: 50%;
    border-collapse: collapse;
  }

table, th, td {
    border: 1px solid gray;
    
}

table.plaat{
  border : none;
  position: fixed; 
  top: 30%;
  left: 5%;
  width: 95%
}
td.plaat {
  border-style : hidden!important;
}

p.plaat {

  font-size: 2.5em;
  font-weight: bold;

} 

th {
    text-align: left;
}

/* img {
  position: fixed; 
  top: 30%;
  left: 50%;
} */
